.search-wrappper{
    display: block;
    padding-top: 15px;
    margin: auto;
    width: max-content;
    color: #fff;
}
body{
    background: #191919;

}
.box{
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
}
*{
    margin:0;
    padding: 0;
}
input{
    font-size: 25px;
    outline: none;
    border:2px solid #777;
    background-color: #191919;
}

.user-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    gap: 25px;
    margin-top: 25px;
}

.card{
    text-align: right;
    background-color: #191919;
    color: #fff;
    /* padding: 1.5rem; */
    display: block;
    margin: auto;
    border: 2px solid #777;
   /* margin-bottom: 20px;*/
}


.card > .header {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.card > .body {
    font-size: 15px;
    color: #777;
    margin-right: 5px;
    margin-bottom: 10px;
}

img{
    display: block;
    align-items: center;
    justify-content: center;
    margin: auto, auto,auto,auto;
    height: 200px;
    width: 200;
    padding-bottom:5px;
}

.hide {
    display: none;
}