.search-wrappper{
    display: block;
    margin: auto;
    width: max-content;
    color: #fff;
}
body{
    background: #191919;

}
.box{
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
}
*{
    margin:0;
    padding: 0;
}
input{
    font-size: 1rem;
    outline: none;
    border:2px solid #777;
    background-color: #191919;
}

.user-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    gap: .25rem;
    margin-top: 1rem;
}

.card{
    text-align: right;
    background-color: #191919;
    color: #fff;
    /* padding: 1.5rem; */
    display: block;
    margin: auto;
    border: 2px solid #777;
}


.card > .header {
    font-size: 2rem;
    margin-bottom: .25rem;
}

.card > .body {
    font-size: 1rem;
    color: #777;
}

.hide {
    display: none;
}

img{
    display: block;
    align-items: center;
    justify-content: center;
    margin: auto, auto,auto,auto;
    height: 200px;
    width: 200;
    padding-bottom: 1rem;
}